.Todo{
    width: 45%;
    margin: auto;
    background: #F5E1E2;
    overflow-x: hidden;
    border: 1px solid #BD3F33;
}
.Todo input{
    padding: 10px 5px;
    width: 100%;
    border:none;
    border-bottom: 2px solid #BD3F33;
    outline: none;
}
.Todo button{
    width: 100%;
    padding: 5px 3px;
    font-size: 18px;
    background: #BD3F33;
    color: #f1f1f1;
    font-family: "Kaushan Script";
    border: none;
}
.Todo .Todo-list{
    text-align: left;
    background: #E6F3E7;
    color: #333;
    border-left: 8px solid #BD3F33;
    padding: 20px 10px;
    margin: 8px 0;
    font-size: 18px;
}
.Todo .Todo-list p{
    padding: 0;
    margin: 0;
}